.container{
    border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: 1px solid black;
    background-color: #7fffd4;
}
#box1{
    order: 3;
}
#box2{
    order:1;
    align-self: stretch;
}
#box4{
    order:2;
}