@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,100;1,400&family=PT+Sans+Narrow&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --bgOrange:#e84949;
}
.wrapper{
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    /* border: 1px solid black ;        */
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
.navigation .nav_name{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.nav_name h1{
    margin: -0.8rem;
}
.navigation .nav_links{
    display: flex;
    /* border: 1px solid black; */
    gap: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0 4rem;
    /* gap: 2rem; */
}
.navigation img{
    height: 3.5rem;
}
a{
    text-decoration: none;
    color: black;
}
.nav_links div:hover{
    font-weight: bold;
    transition: 1s;
}
/* hero_section */
.hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem ;
    padding-bottom: 8rem;
}
.hero_section .faded_text{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);
    bottom: -16%;
    font-weight: bold;
    transition: all 3s;
}
.hero_section .hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.hero_content .hero_content_heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
 .hero_content_running{
    font-size: 45px;
    line-height: 45px;
    color: #343d68;
    font-weight: 500;
}
.hero_heading_description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
.btn_pink{
    border: 1px solid black;
    width: 6rem;
    padding: 1rem;
    color: white;
    background: red;
}
.btn_pink:hover{
    transform: scale(1.2);
    transition: all 1s;
}
.hero_image{
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
}
.absolute{
    position: absolute;
}
.hero_image .user_image{
    padding: 2rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scale_image 5s linear infinite;
}
.user_image img{
    z-index: -1;
}

@keyframes scale_image{
    0%{ 
        filter: grayscale(1);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 0px 0px 10px black;
    }
    100%{
        filter: grayscale(1);
        transform: scale(1);
    }
}
.hero_image .icon-dots{
    transition: all 1s;
    z-index: 1;
    animation: dots_move 5s linear infinite;
    bottom:-1rem ;
    right: 0;
}
@keyframes dots_move{
    0%{ 
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.hero_image .icon-cube{
    top: -1rem;
    z-index: 1;
    right: 0;
    transition: all 3s;
    animation: cube_move 5s linear infinite;
}
@keyframes cube_move{
    0%{ 
        transform: translateY(0px) rotateY(0deg);
    }
    50%{
        transform: translateY(30px) rotateY(180deg);
    }
    100%{
        transform: translateY(0px) rotateY(360deg);
    }
}
.hero_image .icon-circle{
    bottom: -1rem;
    z-index: 1;
    left: 0;
    transition: all 3s;
    animation: icon_shake 5s linear infinite;
}
@keyframes icon_shake{
    0%{
        left: 15%;
        bottom: 5%;
        transform: scale(1.4);
    }
    50%{
        left: 0%;
        bottom: 0%;
        transform: scale(1);
    }
    100%{
        left: 15%;
        bottom: 5%;
        transform: scale(1.4);
    }
}
.hero_image .icon-zigzag{
    top:  1rem;
    z-index: 1;
    left: 0;
    transition: all 3s;
    animation: zigzag_icon 5s linear infinite;
}
@keyframes zigzag_icon{
    0%{
        top: -5%;
        left: 15%;
    }
    50%{
        top: 0%;
        left: 0%;
    }
    100%{
        top: -5%;
        left: 15%;
    }
}
.hero_image .icon-plus{
    top:  0;
    z-index: 1;
    left: 10rem;
    transition: all 3s;
    animation: shake_plus 6s linear infinite;
}
@keyframes shake_plus{
    0%{
       transform: rotateY(0deg) translateX(20px);
    }
    50%{
        transform: rotateY(180deg) translateX(0);
    }
    100%{
        transform: rotateY(360deg) translateX(20px);
    }
}